:root {
    --white-text-color: rgb(250, 250, 250);
    --lightblue-bg-color: rgb(0, 190, 255);
    --debug-green: green;
}

body, body * {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(240, 240, 240);
}

.aboutMeContainer {
    height: 130vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.blueSquare {
    background-color: var(--lightblue-bg-color);
    min-width: 130vw;
    height: 70vh;
}

.aboutMeImageDiv {
    width: 80vw;
    height: 60vh;

    background-image: url("../img/open-in-new.png");
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;

    background-color: lightpink;

    margin-top: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.aboutMeImageDiv h1 {
    font-size: 2.5rem;
    color: var(--white-text-color);

    position: absolute;
    bottom: 0;
    padding: 0.5rem;
}

.aboutMeSection {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

h2 {
    font-size: 2.3rem;
}

.aboutMeSection article {
    font-size: 1.7rem;
}

main {
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main h2 {
    align-self: center;
}

main .projectCards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.project {
    box-shadow: 2px 2px 1px 2px darkgrey;
    background-color: white;

    display: grid;
    grid-template-rows: 1.5fr 1fr;
}

.projectImage {
    background-image: url(../img/email-outline.png);
    background-position: center;
    background-size: cover;
}

.projectInfo {
    padding: 1.5rem;
}

.projectInfo header {
    display: flex;
    justify-content: space-between;
}

.projectInfo header h3{
    margin-left: 1rem;
    font-size: 1.1rem;
}

footer {
    background-color: var(--lightblue-bg-color);
}

footer section {
    color: var(--white-text-color);
    
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer section h2 {
    align-self: center;
    margin: 0;
}

footer section article {
    font-size: 1.3rem;
}

footer section p {
    margin: 0;
}

footer section * img {
    display: none;
}

@media (min-width: 600px) {
    main {
        padding: 4.5rem;
        margin-bottom: 4rem;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    main h2 {
        align-self: start;
    }

    main .projectCards {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2rem;
    }

    .projectInfo header h3{
        margin-left: 0;
        font-size: 1.1rem;
    }

    footer {
        display: flex;
        padding: 1.5rem;
    }

    footer section {
        flex: 1;        
        padding: 1.5rem;
    }

    footer section * {
        max-width: 80%;
    }

    footer section h2 {
        align-self: start;
    }

    footer section article {
        font-size: 1rem;
    }

    footer section div {
        max-width: 100%;
        display: flex;
        gap: 10px;

        align-items: center;
    }

    footer section * img {
        display: inline;
        max-width: 1.5rem;
        filter: invert(100%);
        
        padding: 0;
    }

    footer img {
        flex: 1;
    }
}

@media (min-width: 1000px) {
    main .projectCards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 2rem;
    }

    
}

/*
    Border highlighting
*/
.redBorder, .project {
    border: 1px solid red;
}

.blackBorder, 
nav {
    border: 1px solid black;
}

.greenBorder, .project img {
    border: 1px solid green;
}

.blueBorder {
    border: 1px solid blue;
}



